body {
    background-color: lightgrey;

}

.container {

margin-left: 550px;


}

.header {
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  background: white;
  text-decoration: black;
  height: 60px;
  
}

 .hleft {
display:flex;
justify-content: center;
align-items: center;

 }

 .hright {
margin-right: 10px;
size: 8px;
}

p {
  font-size: smaller;
}

#hleft{
  display:flex;
  flex-direction: row;
  size:8px;
}

.picture {
  width: 100%;
}

img {
   width: 50%;
  height:455px;
}

.footer {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  position: 0;
  background: white;
  width: 50%;
  height:115px;
  margin-top:auto 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sharing {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  gap: 10px;
  margin-top: 3px;

}

.bookmark {
margin-top: 3px;
  margin-right: 20px;
}

.texto1{
  display: flex;
}

.footerp {
  
  
  margin-left: 15px;
  font-size: 14px;
  text-align: left;
}